html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
/* Arabic Contact Page Text Alignment */

body.arabic .form-input,
body.arabic .form-textarea {
  text-align: right; /* Align text to the right */
}

.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: black;
  color: white;
  padding: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.contact-info {
  flex: 1;
  padding: 20px;
}

.contact-title {
  background: url("../../assets/gold-texture.jpg"); /* Ensure this texture exists */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem;
  margin-bottom: 20px;
  margin-top: -20px;
}

.contact-detail {
  font-size: 1.2rem;
  margin: 5px 0;
  line-height: 1.5;
}

.contact-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  background: #2a2a2a;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form-row {
  display: flex;
  gap: 15px;
}

.form-input,
.form-textarea {
  flex: 1;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: white;
  color: black;
  outline: none;
  transition: border-color 0.3s ease;
  font-family: "Poppins", sans-serif;
}

.form-input:focus,
.form-textarea:focus {
  background: url("../../assets/gold-texture.jpg"); /* Ensure this texture exists */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form-textarea {
  margin-top: 20px;
  width: 96%;
  height: 120px;
}

.form-button {
  align-self: flex-end;
  background-color: gold;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

.form-button:hover {
  background-color: darkgoldenrod;
}

/* Mobile view adjustments */
@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 35px;
  }

  .contact-info,
  .contact-form {
    flex: none;
    width: 100%;
    padding: 10px;
  }

  .form-row {
    flex-direction: column;
    gap: 10px;
  }

  .form-textarea {
    width: 94%;
  }
}
